<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="customers" routerLinkActive="active"  class="nav-link"><h4><b>Customer List</b></h4></a>
        </li><br>
        <li class="nav-item">
            <a routerLink="create-customer" routerLinkActive="active"  class="nav-link"><h4><b>Add Customer</b></h4></a>
        </li>
    </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
 <footer class="footer">
     
     <div class="container">
        <br><br>
    </div> 

</footer>


